.GridChart {
    height: 100%;
    width: 100%;
}

.centered {
    text-align: center;
}

.hidden {
    display: none;
}

.LoadingScreen {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
