# root directory outputs
/staging/
/tmp/

# Visual Studio cache/options directory
.vs/

# Visual Studio User-specific files
*.user
*.vcxproj.filters

# Intellij files
.idea/

# Python-specific
*.egg-info/
*.ipynb_checkpoints/
venv/
