# compile script output directories
/staging/
/tmp/

# Visual Studio
.vs/
enc_temp_folder/
*.user
/TestResults/

# Visual Studio Code
.vscode/

# Intellij
.idea/

# Python
*.egg-info/
*.ipynb_checkpoints/
venv/
.pytest_cache/

# General
*.bak
*.tmp
