// Unfortunately, WASM even blocks CSS animation!
// If we can figure out a way to let CSS animation keep running while WASM
// spins on the main thread, we can use the following loading bar animation I made

// <div class='loading-bar-container'>
//   <div class='loading-bar animated' bind:this={loadingBar}></div>
// </div>

.loading-bar-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: transparent;
}

.loading-bar {
  margin: auto;
  content: "";
  position: absolute;
  width: 40px;
  border-radius: 3px;
  height: 100%;
  left: 0%;
  visibility: hidden;
  pointer-events: none;
  background-color: hsl(207.4, 45.1%, 80%);
  /*   box-shadow: 0 0 9px 9px skyblue; */
}

.loading-bar.animated {
  visibility: visible;
  animation: loading 3s ease-in-out infinite forwards;
}

@keyframes loading {
  0% {
    width: 40px;
    left: 0%;
  }

  50% {
    width: 60px;
  }

  100% {
    width: 40px;
    left: 100%;
  }
}