.centered {
    margin: auto;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    padding: 40px;

    .primary-message {
        font-size: 20px;
    }
    .secondary-message {
        font-size: 16px;
    }
}