.prediction-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    .prediction-label, .probability-label {
        margin: auto;
        padding: 5px;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
}