

.explainerDashboard {
    width: 100%;
    height: 100%;
    .charts-wrapper {
        flex-grow: 1;
        display: flex;
        overflow: hidden;
        width: 100%;
        flex-direction: column;
        .global-charts-wrapper {
            width: 100%;
            height: 55vh;
            display: flex;
            flex-direction: row;
            .ms-FocusZone{
                height: 100%;
            }
            .chart {
                flex: 1;
                height: 100%;
            }
        }
        .local-charts-wrapper {
            width: 100%;
            border-top: 2px solid;
            box-sizing: border-box;
            .local-placeholder {
                height: 100px;
                display: flex;
                align-items: center;
                font-size: 25px;
                .placeholder-text {
                    margin: auto;
                    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
                    padding: 40px;
                    line-height: 35px;
                }
            }
            .tabbed-viewer {
                display: flex;
                flex-direction: row;
                height: 55vh;
                .ms-FocusZone{
                    height: 100%;
                }
                .view-panel {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .local-commands {
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        border-bottom: 1px solid;
                        .clear-buton {
                            flex: 1;
                        }
                    }
                    .local-summary {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        .local-chart-wrapper {
                            flex: 1;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            border-top: 1px solid;
                        }
                    }
                }
            }
        }
    }
}
