# Algorithms
SALib>=1.3.3
lime>=0.1.1.33
shap>=0.28.5
# Service related
plotly>=3.8.1
dash>=1.0.0,<2.0
dash-core-components>=1.0.0,<2.0
dash-cytoscape>=0.1.1,<0.2
dash-html-components>=1.0.0,<2.0
dash-renderer>=1.0.0,<2.0
dash-table-experiments>=0.6.0,<0.7
gevent>=1.3.6
# Core
joblib>=0.12.5
pandas>=0.24.0
scikit-learn>=0.20.0
ipykernel>=5.1.0
ipython>=7.4.0
numpy>=1.15.1
scipy>=1.2.1
requests>=2.19.0
psutil>=5.6.2
