.aggregate-chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .top-controls {
        display: flex;
        padding: 3px 15px;
        .feature-slider{
            flex: 1;
        }
        .path-selector {
            margin: 0 5px 0 0;
        }
        .selector-label {
            display: flex;
            flex-direction: row;
            span {
                padding-top: 5px;
                font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
            }
        }
        .slider-control{
            flex: 1;
            padding: 0 4px;
            .slider-label {
                display: flex;
                flex-direction: row;
                .label-text {
                    line-height: 14px;
                    margin: 7px 0 0 4px;
                    font-size: 14px;
                    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;    
                }
            }
        }
    }
}

.callout-info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 30px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    
    button {
        max-width: 100px;
    }
}