*.pyc
build/
dist/
docs/_build/
*.egg-info/
.coverage
.eggs/
*.ignore
*.ipynb_checkpoints/
*junit/
lib/
log.txt
test-log.txt
dev-log.txt
*.csv
*.ipynb
.coverage.*
geckodriver.log
coverage.xml
htmlcov/
