graft tests
graft interpret/root/shared/libebm
prune interpret/root/bld
include interpret/root/bld/lib/interpret-inline.js
include interpret/root/bld/lib/interpret-inline.js.LICENSE.txt
include interpret/root/build.bat
include interpret/root/build.sh
include interpret/root/LICENSE
include interpret/root/README.md

global-exclude *.py[cod] __pycache__/* *.dll *.so *.dylib node_modules
