graft symbolic
graft tests

prune symbolic/bld

prune interpret/lib
include interpret/lib/interpret-inline.js
include interpret/lib/interpret-inline.js.LICENSE.txt

global-exclude *.py[cod] __pycache__/* *.so *.dylib node_modules
