graft symbolic
graft tests

prune symbolic/python
prune symbolic/staging
prune symbolic/tmp

prune interpret/lib
include interpret/lib/interpret-inline.js
include interpret/lib/interpret-inline.js.LICENSE.txt

global-exclude *.py[cod] __pycache__/* *.so *.dylib node_modules
