.flex-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .loading-message {
        display: flex;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-size: 20px;
        border-bottom: 1px solid;
        padding: 5px 10px;
    }
    .label-group {
        display: flex;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-size: 20px;
        border-bottom: 1px solid;
        .label-group-label {
            width: 150px;
            align-self: center;
            padding-left: 10px;
        }
        .flex-full {
            flex: 1;
        }
    }
    .tile-scroller {
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}