export(ebm_feature)
export(ebm_feature_combination)

export(create_main_feature_combinations)
export(cyclic_gradient_boost)

export(initialize_interaction_classification)
export(initialize_interaction_regression)
export(get_interaction_score)
useDynLib(interpret, .registration = TRUE)
